/*############################### News-Feed #############################*/
#rss{
	margin:0;
	padding:0;
	float:right;
	width:40%;
	font-size:10px;
}
#rss #newsfeed{
	margin:0;
	padding:5px;
	border:1px solid #CCCCCC;
	height:320px;
	width:100%;
	overflow: auto;
}
#rss #newsfeed a {
	color:#FF9900;
	font-size:10px;
}
#rss #newsfeed .date {
	margin:0;
	color:#999999;
	font-size:x-small;
	letter-spacing:0.2em;
}
#rss #newsfeed .description{
 	margin:0;
 	padding:0;
}
#rss #newsfeed .description p{
	font-size:10px;
}
#loading{
	margin:40% 0% 0% 40%;
	float:left;
}